*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    width: 100vw;
    height: auto;
}
.redbtn{
    transition: 0.2s;
    color:red;
    &:hover{
        color:red;
        scale:1.2
    }
}
.greenBtn{
    transition: 0.2s;
    color:lime;
    &:hover{
        color:lime;
        scale:1.3
    }
}
@media screen and (max-width:600px) {
    .redbtn{
        transition: 0s;
        color:red;
        &:hover{
            color:red;
            scale:1
        }
    }
    .greenBtn{
        transition: 0s;
        color:lime;
        &:hover{
            color:lime;
            scale:1
        }
    }
}